@media (max-width:764px){
    .conteiner{
        padding: none;
      
        min-height:none;
         background-image:none;
         background-repeat: none;
         
        background-position:none;
     }
     .conteiner .mobile{
        display: block;
        margin-left: 0px;
        padding-top: 40px;
     }
     .log{
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 90px;
       
    }
    .btn{
        width: 140px;
        border-radius: 28px;
        background-color: #13183f;
        color: white;
        cursor: pointer;
        font-size: 16px;
       
    }
    .btn:hover{
        color:rgb(56, 12, 12) ;
        background: linear-gradient(20deg, rgb(221, 228, 134) 20%, rgb(238, 129, 129) 70%);
        border: none;
    }
    
    .text{
        max-width: 200px ;
        margin-left:40px;
        margin-top: 49px;
        
    }
    .text p {

        font-size: 16px;
        line-height: 20px;
        color:#83869a;
        padding-top: 29px ;
    }
    .text button{
    margin-top: 29px;
    width: 167px;
    height: 63px;
    background:linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%) ;
    border-radius: 31.5px;
    font-size: 18px;
    border: none;
    color:white ;
    cursor: pointer;
    }
    .sec{
        /* width: 1440px; */
        margin: 160px 60px 0 20px;
        }
        .conteiner-wraper{
        /* max-width:100%;  */
        
        display: flex;
        
        flex-wrap: wrap;
        align-content: flex-end;
        
        /* display: grid;
        grid-template-columns:  auto auto auto; */
        /* display: inline-flex;
        flex-wrap: wrap; */
        }
        .box button{
            border: none;
            color:#f74780;
            font-size: 18px;
            background: white;
            cursor: pointer;
        }
        .box{
        max-width: 270px;
            height: 380px;
           padding-left: 32px;
           padding: 30px;
           margin-bottom: 40px;
           margin-left:20px ;
        }
        .first{
            font-size: 32px;
            line-height: 40px;
            color:white;
           padding-top: 64px;
            border-radius: 15px;
            background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
        }
        .animation{
            position: relative;
            background: white;
            border-radius: 15px;
            padding-top:64px ;
        }
        .animation img{
            position: absolute;
            top:-28px;
        }
        .animation h2{
            padding-bottom: 24px;
        }
        .animation button{
            margin-top: 24px;
        }
        .animation p{
          
            color: #83869a;
            font-size: 18px;
            line-height: 28px;
        }
        .design{
            position: relative;
            background: white;
            border-radius: 15px;
           
            padding-top:64px ;
        }
        .design img{
            position: absolute;
            top:-28px;
        }
        .design h2{
            padding-bottom: 24px;
        }
        .design button{
            margin-top: 90px;
        }
        .design p{
            
            color: #83869a;
            font-size: 18px;
            line-height: 28px;
        }
        .photography{
            position: relative;
            background: white;
            border-radius: 15px;
            padding-top:64px ;
        }
        .photography img{
            position: absolute;
            top:-28px;
        }
        .photography h2{
            padding-bottom: 24px;
        }
        .photography button{
            margin-top: 30px;
        }
        .photography p{
           
            color: #83869a;
            font-size: 18px;
            line-height: 28px;
        }
        .crypto{
            position: relative;
            background:white;
            border-radius: 15px;
            padding-top:64px ;
        }
        .crypto img{
            position: absolute;
            top:-28px;
        }
        .crypto h2{
            padding-bottom: 24px;
        }
        .crypto button{
            margin-top: 24px;
        }
        .crypto p{
            
            color: #83869a;
            font-size: 18px;
            line-height: 28px;
        }
        .business{
            position: relative;
            background: white;
            border-radius: 15px;
            padding-top:64px ;
        }
        .business img{
            position: absolute;
            top:-28px;
        }
        .business h2{
            padding-bottom: 24px;
        }
        .business button{
            margin-top: 40px;
        }
        .business p{
            
            color: #83869a;
            font-size: 18px;
            line-height: 28px;
        }
        
        .footer{
            width: 100%;
            height: 120px;
            background: #13183f;
            padding-top: 60px;
        }
        .bt{
            width: 167px;
            border-radius: 28px;
            background: linear-gradient(180deg,#4851ff -54.32%,#f02aa6 100%);
            color: white;
            cursor: pointer;
        }
}